body {
  margin-left: 1em;
  padding: 0;
  font-family: "Open Sans";
  background-color: #f9fafc;
}
header {
  font-size: 1.25em;
}
.brand {
  font-weight: 600;
}
nav {
  display: flex;
  flex-direction: column;
}
a {
  color: #696969;
  text-decoration: none;
  font-weight: 500;
  padding: 5px;
}
.btn {
  width: 90%;
  background-color: #000;
  border-radius: 55px;
  color: #f9fafc;
  text-align: center;
}
section>p:first-child {
  font-size: 30px;
  font-weight: 600;
}
section>p:nth-child(2) {
  border-left: 5px solid #696969;
  padding-left: 15px;
  color: #696969;
}
button {
  padding: 10px;
  font-size: 1.25em;
}

@media only screen and (min-width:1024px) {
  header {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 20px;
  }
  .brand {
    margin-top: 0;
    flex: 1;
  }
  nav {
   flex-direction: row;
   display: inline;
  }
  a.btn {
    padding-left: 30px;
    padding-right: 30px;
  }
  main {
    display: flex;
    padding: 20px;
    margin-left: 0;
  }
  .left {
    width: 60%;
  }
  .right {
    width: 500px;
    height: 500px;
    position: relative;
    
  }
  div {
    border-radius: 50%;
  }
  div:nth-child(1) {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: rgba(247, 136, 167, 0.6);
    top: 65px;
    left: 90px;
  }
  div:nth-child(2) {
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: rgba(207, 130, 213, 0.6);
    right: 0;
    top: 100px;

  }
  div:nth-child(3) {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: rgba(247, 193, 162, 0.7);
    right: 0;
    top: 200px;
  }
  button.btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
  }
 
}
